# Dependencies
node_modules/

# Next.js
.next/
out/
build/

# Vercel
.vercel

# Env files (NEVER commit)
.env
.env*.local
.env.local

# Anchor / Rust
target/
.anchor/

# Solana keypairs (NEVER commit)
*-keypair.json
id.json

# Node
package-lock.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log